h1 {
	font-family: "Roboto Mono", monospace;
	font-size: 60px;
}

h2 {
	font-family: "Roboto Mono", monospace;
	font-size: 30px;
}

h3 {
	font-family: "Roboto Mono", monospace;
	font-size: 30px;
}

h4 {
	font-family: "Roboto Mono", monospace;
	font-size: 30px;
}

p {
	font-family: "Roboto Mono", monospace;
	font-size: px;
	text-align: center;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.footer {
	margin-top: 1rem;
	padding: 1rem;
	background-color: #82d973;
	bottom: 0;
	left: 0;
	width: 100%;
	position: relative;
}

.title {
	text-align: center;
	margin-top: 1rem;
	padding: 1rem;
	bottom: 0;
	left: 0;
	width: 100%;
}

.NavCont {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: row;
	align-content: space-around;
	border-radius: 4px;
	background: #82d973;
	padding: 10px 22px;
	color: #000000;
	outline: none;
	border: none;
	cursor: pointer;
	text-decoration: none;
	width: 100%;
	position: fixed;
}

.NavBtn {
	border-radius: 4px;
	background: #707070;
	padding: 10px 22px;
	font-size: 15px;
	font-family: "Roboto Mono", monospace;
	color: #000000;
	outline: none;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	/* Second Nav */
	margin-left: 24px;
}

.circle-rating {
	float: right;
	width: 500px;
	height: 500px;
	line-height: 500px;
	border-radius: 50%;
	font-size: 150px;
	color: white;
	text-align: center;
	background-image: url("https://www.globe.gov/o/gov.globe.home.explorelearnearth.web/images/learn-earth-system-clean.png");
	background-size: cover;
}

.questionCont {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	align-content: space-around;
	border-radius: 4px;
	width: 50%;
	border: green;
	padding: 10px 22px;
	color: #000000;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}

.MainCont {
	display: flex;
	justify-content: center;
	flex: 1;
}

.brand-images {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.like {
	margin: 0.5rem;
	padding: 0.5rem;
	background: white 10px;
	border-radius: 100px 100px 100px 100px;
	border: none;
}
.dislike {
	margin: 0.5rem;
	padding: 0.5rem;
	background: white 10px;
	border-radius: 100px 100px 100px 100px;
	border: none;
}

.commentSubmit {
	margin: 0.5rem;
	padding: 0.5rem;
	background: white 10px;
	border-radius: 100px 100px 100px 100px;
	border: none;
}

.formInput {
	margin: 0.5rem;
	padding: 0.5rem;
	background: white 10px;
	border-radius: 100px 100px 100px 100px;
	border: none;
}

.advice-cards {
	display: block;
	justify-content: center;
	text-align: center;
	border: #82d973 solid 10px;
	border-radius: 20px;
	width: 20rem;
	height: auto;
	display: inline-grid;
	margin: 1rem 2rem;
}

.bottom-card {
	background-color: #82d973;
}

.QuizBtn {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
	padding: 18px 60px;
	white-space: normal;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	border: none;
	border-radius: 100px 100px 100px 100px;
	cursor: pointer;
	transition: all, 240ms ease-in-out;
	background: #82d973 solid 10px;
	background: linear-gradient(58deg, #82d973 20%, #82d973 100%);
}

.nextbtn {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
	padding: 18px 60px;
	white-space: normal;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	border: none;
	border-radius: 100px 100px 100px 100px;
	cursor: pointer;
	transition: all, 240ms ease-in-out;
	background: gray 10px;
}

.comments {
	color: #003569;
}
.SubmitButton {
	width: 100%;
	padding: 11px 40%;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	border: none;
	border-radius: 100px 100px 100px 100px;
	cursor: pointer;
	transition: all, 240ms ease-in-out;
	background: #82d973 solid 10px;
	background: linear-gradient(58deg, #82d973 20%, #82d973 100%);
}
.About {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
}
a.Links {
	justify-content: center;
	display: flex;
	width: 10%;
	color: black;
	font-family: "Roboto Mono", monospace;
	font-size: 15px;
	font-weight: 600;
	border: none;
	cursor: pointer;
	transition: all, 240ms ease-in-out;
	background: rgb(241, 196, 15);
	background: linear-gradient(58deg, #82d973 20%, #82d973 100%);
}

.surveycomp {
	width: 100%;
	padding: 11px 40%;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	border: none;
	border-radius: 100px 100px 100px 100px;
	transition: all, 240ms ease-in-out;
	background: rgb(241, 196, 15);
	background: linear-gradient(58deg, #82d973 20%, #82d973 100%);
}
